@tailwind base;
@tailwind components;
@tailwind utilities;


/* -------------------------------------------------------- */

/* STYLE GENERALES */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




/* END STYLE */

/* -------------------------------------------------------- */

/* STYLE INDEX */

.ancho30{

    width: 30%;
}

.ancho20{

    width: 20%;

}


/* ENDINDEX */

/* -------------------------------------------------------- */


/* STYLE LOGIN  */




#boxShadow{

    -webkit-box-shadow: 9px 15px 22px -3px rgba(0,0,0,0.27);
    -moz-box-shadow: 9px 15px 22px -3px rgba(0,0,0,0.27);
     box-shadow: 9px 15px 22px -3px rgba(0,0,0,0.27);

}


/* END STYLE LOGIN */



/* -------------------------------------------------------- */

/* STYLE CARRITO COMPRAS  */


.btnActualizar {
    display: none;
}





/* END STYLE CARRITO COMPRAS */
/* -------------------------------------------------------- */